<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Focus Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon"  tipe="image/jpg" href="{{ url_for('static', filename='iconfuture.jpg')}}">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Bem-vindo ao Questionário de Faculdades</h1>
                <h2 class="subtitle">Descubra qual faculdade combina mais com você!</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="notification">
                <p>Este questionário foi criado para ajudar você a identificar quais áreas de estudo podem ser mais
                    adequadas para o seu perfil.</p>
                <p>Responda às perguntas com atenção e receba sugestões de faculdades ao final!</p>
            </div>

            <div class="has-text-centered">
                <a href="/questionario" class="button is-primary is-large">Começar o Questionário</a>
            </div>
        </div>
    </section>
</body>

</html>